.icon-extra-small {
  width: 12px;
  height: 12px;
}
.icon-small {
  width: 16px;
  height: 16px;
}
.icon-medium {
  width: 20px;
  height: 20px;
}

.icon-large {
  width: 25px;
  height: 25px;
}
.icon-extra-large {
  width: 30px;
  height: 30px;
}
